@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
    display: flex;
    justify-content: center;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #D0CDCD ;
}

.window{
    margin-top: 15px;
    width: 1000px;
    border: gray 2px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    font-family:'Press Start 2P', cursive, Courier, monospace;
    line-height: 1.5em;
    padding-top: 50px;
}

#story{
    display: none;
}

.bloc {
    width: 80%;
    text-align: center;
}

#dead {
    visibility: hidden;
    color: #008000;
}

#h1 h1{
    text-align: center;
    color: #008000;
}

h4{
    text-align: justify;
    width: 80%;
}

#retry {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 800px;
    padding-top: 25px;
    padding-bottom: 50px;
}

input {
    margin: 12px 0;
}

#hero{
    background-image: url('../images/heros/jcvd.jpg');
    background-size: contain;
    width: 250px;
    height: 250px;
}
#hero2{
    background-image: url('../images/heros/sponge.jpg');
    background-size: contain;
    width: 250px;
    height: 250px;
}
#hero3{
    background-image: url('../images/heros/macron.jpg');
    background-size: contain;
    width: 250px;
    height: 250px;
}
#hero4{
    background-image: url('../images/heros/mask.gif');
    background-size: contain;
    width: 250px;
    height: 250px;
}
#hero5{
    background-image: url('../images/heros/nicky.jpg');
    background-size: contain;
    width: 250px;
    height: 250px;
}
#hero6{
    background-image: url('../images/heros/shrek.jpg');
    background-size: contain;
    width: 250px;
    height: 250px;
}


#weapon{
    background-image: url('../images/weapons/wand.jpeg');
    background-size: contain;
    width: 250px;
    height: 250px;
}
#weapon2{
    background-image: url('../images/weapons/rock.jpg');
    background-size: contain;
    width: 250px;
    height: 250px;
}
#weapon3{
    background-image: url('../images/weapons/sword.jpg');
    background-size: contain;
    width: 250px;
    height: 250px;
}
header {
    display: flex;
    justify-content: center;
}
