@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #D0CDCD ;
}

.window{
    margin-top: 15px;
    width: 1000px;
    min-height: calc(100vh - 100px);
    border: gray 2px solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: black;
    font-family:'Press Start 2P', cursive, Courier, monospace;
    line-height: 1.5em;
    padding-top: 50px;
    color: #008000;
}

#story{
    display: none;
}

.bloc {
    width: 80%;
    line-height: 3em;
}

.narration {
    line-height: 1.8em;
    color: white;
    width: 80%;
    text-align: justify;
}

h1 {
    text-align: center;
    color: #008000;
}

#blink {
    visibility: hidden;
}

#dead {
    visibility: hidden;
    text-align: center;
    color: #008000;
}

h4{
    text-align: justify;
    color: white;
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 800px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.form {
    font-size: 1.8em;
    margin-bottom: 15px;
    width: 80%;
}

input {
    margin: 12px 0;
    font-family: 'Press Start 2P', cursive, Courier, monospace;
    padding: 0.5em 1em;
}

#form {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    color: white;
    margin-top: 30px;
}


/* -------------------- INTRO JOUEUR -------------------- */

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

#nameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nameForm input:nth-child(0) {
    color: #008000;
}


/* -------------------- CHOIX DU HEROS -------------------- */

.heros{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 600px;
    padding-top: 25px;
    padding-bottom: 50px;
}

.heroPic {
    background-size: contain;
    width: 180px;
    height: 180px;
    visibility: visible;
}

#hero1{
    background-image: url('../images/heros/jcvd.jpg');
}
#hero2{
    background-image: url('../images/heros/sponge.jpg');
}
#hero3{
    background-image: url('../images/heros/macron.jpg');
}
#hero4{
    background-image: url('../images/heros/mask.gif');
}
#hero5{
    background-image: url('../images/heros/nicky.jpg');
}
#hero6{
    background-image: url('../images/heros/shrek.jpg');
}


/* -------------------- CHOIX DE L'ARME -------------------- */

.weaponPic {
    background-size: contain;
    width: 250px;
    height: 250px;
}

#weapon1{
    background-image: url('../images/weapons/wand.jpeg');
}
#weapon2{
    background-image: url('../images/weapons/rock.jpg');
}
#weapon3{
    background-image: url('../images/weapons/sword.jpg');
}


/* -------------------- CHOIX DE L'ATTAQUE -------------------- */

.attackButton {
    min-width: 500px;
}


header {
    display: flex;
    justify-content: center;
}
