<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<article th:text="|Votre arme ${arme}|">Think you can win ?</article>
<br>
<form th:action="@{/win}" method="post">
    <input type="hidden" name="attack" placeholder="frontale" value="0"/>
    <input type="submit" value="Frontale">
</form>
<form th:action="@{/win}" method="post">
    <input type="hidden" name="attack" placeholder="dans l'oeil" value="1"/>
    <input type="submit" value="Dans l'oeil">
</form>
</body>
</html>