<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="window">
    <!--        <header th:replace="header :: top"></header>-->

            <h1 id='blink'>Choose your skills !</h1>

            <br>
            <form th:action="@{/win}" method="post">
                <input type="hidden" name="attack" value="0"/>
                <input class="attackButton" type="submit" th:value="${attack1}">
            </form>
            <form th:action="@{/win}" method="post">
                <input type="hidden" name="attack" value="1"/>
                <input class="attackButton" type="submit" th:value="${attack2}">
            </form>
        </div>
        <script type="text/javascript" th:src="@{/js/blink.js}"></script>
    </body>
</html>