
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Stuck In Time</title>
    </head>
    <body>

        <div class="window">

            <h1 id='blink'>Choose your Hero !</h1>
            <div class="narration">
                <h4 th:text="|${name} est un chaton apeuré. Il a besoin d'aide pour la bagarre !|">Choisissez un partenaire !</h4>
            </div>
            <div class="heros">
                <form th:action="@{/weapon}" method="post">
                    <input type="hidden" name="weapon" placeholder="Continuer" value="0"/>
                    <input class="heroPic" type="submit" id="hero1" value="" th:style="|visibility:${state1};|"></input>
                </form>
                <form th:action="@{/weapon}" method="post">
                    <input type="hidden" name="weapon" placeholder="Continuer" value="1"/>
                    <input class="heroPic" type="submit" id="hero2" value="" th:style="|visibility:${state2};|"></input>
                </form>
                <form th:action="@{/weapon}" method="post">
                    <input type="hidden" name="weapon" placeholder="Continuer" value="2"/>
                    <input class="heroPic" type="submit" id="hero3" value="" th:style="|visibility:${state3};|"></input>
                </form>
                <form th:action="@{/weapon}" method="post">
                    <input type="hidden" name="weapon" placeholder="Continuer" value="3"/>
                    <input class="heroPic" type="submit" id="hero4" value="" th:style="|visibility:${state4};|"></input>
                </form>
                <form th:action="@{/weapon}" method="post">
                    <input type="hidden" name="weapon" placeholder="Continuer" value="4"/>
                    <input class="heroPic" type="submit" id="hero5" value="" th:style="|visibility:${state5};|"></input>
                </form>
                <form th:action="@{/weapon}" method="post">
                    <input type="hidden" name="weapon" placeholder="Continuer" value="5"/>
                    <input class="heroPic" type="submit" id="hero6" value="" th:style="|visibility:${state6};|"></input>
                </form>

            </div>

        </div>
        <script type="text/javascript" th:src="@{/js/blink.js}"></script>
    </body>
</html>