
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuck In Time</title>
</head>
<body>

<!--<header th:replace="header :: top"></header>-->
<div class="window">
    <h1>Hello kitty !</h1>
    <div class="narration">
        <p id ="story">Bonjour petit chat ! Tu t'es perdu et tu t'apprêtes à vivre une aventure dangereuse... Heureusement tu disposes de 9 vies, petit veinard !<br>Mais au fait, quel est ton nom ?</p>
        <p id="story2"></p>
    </div>
    <div class="index" id="form">
        <form class="form" id="nameForm" th:action="@{/hero}" method="post">
            <input type="text" name="username" required>
            <input type="submit" value="Commencer l'aventure">
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/blink.js}"></script>
</body>
</html>