<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Stuck In Time</title>
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    </head>

    <body>
<!--        <header th:replace="header :: top"></header>-->
        <div class="window">
            <h1 id="blink">Choose your weapon !</h1>
            <div class="narration">
                <h4 th:text="|${name} et ${hero} n'ont aucune chance de victoire s'ils n'ont pas un minimum d'équipement, choisissez une arme avec laquelle ${hero} combattra le géant|">Votre héro n'a aucune chance de victoire s'il n'a pas un minimum d'équipement, choisissez-lui une arme avec laquelle il combattra votre assaillant.</h4>
            </div>
            <div class="main">
                <form th:action="@{/attack}" method="post">
                    <input type="hidden" name="weapon" placeholder="Epée" value="0"/>
                    <input class="weaponPic" type="submit" id="weapon1" value=""></input>
                </form>
                <form th:action="@{/attack}" method="post">
                    <input type="hidden" name="weapon" placeholder="Caillasse" value="1"/>
                    <input class="weaponPic" type="submit" id="weapon2" value=""></input>
                </form>
                <form th:action="@{/attack}" method="post">
                    <input type="hidden" name="weapon" placeholder="Baguette Magique" value="2"/>
                    <input class="weaponPic" type="submit" id="weapon3" value=""></input>
                </form>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/blink.js}"></script>
    </body>
</html>