<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
        <title>win</title>
    </head>
    <body>
    <div class="window">
        <div class="narration">
            <p id ="story" th:text="${ending}">Ceci est un test</p>
            <p id="story2"></p>
        </div>
        <h1 id="dead">Vous êtes mort !</h1>
        <form class="form" id="form" th:action="@{/startAgain}" method="post">
            <label class="retry">Voulez-vous continuer à sauver le monde ?</label>
            <div>
                <input type="hidden" value="0" name="start">
                <input type="submit" value="Je veux continuer !" >
                <input type="hidden" value="1" name="start">
                <input type="submit" value="Non merci !" >
            </div>
            <p th:text="|Vous gagnez ${points} points d'expérience.|">Vous gagnez que dalle</p>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/js/blink.js}"></script>
</body>
</html>